.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  max-width: 600px;
  margin: auto;
  font-family: "Segoe UI", sans-serif;
  gap: 2rem;
  width: 100%; 
  box-sizing: border-box; 
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
}

.cont-input {
  width: 100%;
  height: 5rem;
}

label {
  align-self: flex-start;
  font-weight: 500;
  font-size: 0.95rem;
}

.input-field {
  width: 100%;
  padding: 0.6rem 1rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
}

.login-button {
  background-color: var(--c1);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 0.75rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  width: 50%;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: var(--c2);
}

.face-id-icon {
  max-width: 70px;
  height: auto;
}

.register-text {
  font-size: 1.2em;
  text-align: center;
  font-weight: 700;
}

.register-text a {
  color: var(--c1);
  text-decoration: none;
}
.register-text a:active {
  color: var(--c1);
  text-decoration: none;
}
.register-text a:visited {
  color: var(--c1);
  text-decoration: none;
}

/* Responsive: pantallas mayores a 768px */
@media (min-width: 768px) {
  .login-form {
    padding: 3rem;
  }
}

@media (width < 400px) {
  .login-form {
    padding: 1rem 0.5rem; /* Menos padding en pantallas muy chicas */
    gap: 0.8rem;
    display: flex;
    justify-content: center;
  }

  .logo-container {
    margin-bottom: 1rem;
  }

  .logo-container .logo {
    max-width: 120px;
  }

  .input-field {
    font-size: 0.9rem;
    padding: 0.5rem 0.8rem;
  }

  label {
    font-size: 0.85rem;
  }

  .login-button {
    font-size: 0.9rem;
    padding: 0.6rem 1.5rem;
    width: 60%;
    border-radius: 15px;
  }

  .face-id-icon {
    max-width: 80px;
  }

  .register-text {
    font-size: 1em;
    margin-top: 1rem;
  }

  .error-message {
    font-size: 0.8rem;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}